absl-py==1.0.0
colorama==0.4.4
cycler==0.11.0
fonttools==4.33.3
kiwisolver==1.4.3
matplotlib==3.5.2
networkx==2.8
numpy==1.22.3
ortools==9.3.10497
packaging==21.3
pandas==1.4.2
parse==1.19.0
Pillow==9.1.1
protobuf==3.20.1
pyparsing==3.0.9
pyswip @ git+https://github.com/yuce/pyswip@89955611467cec37ab89bf6fbf7f7567cbcb194b
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
tabulate==0.8.9
